<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">上传文件</div>
                <form class="layui-form layui-card-body" action="">
                  <div class="layui-form-item">
                    <label class="layui-form-label">上传Jar文件</label>
						<div class="layui-upload-drag" id="test10">
						  <i class="layui-icon"></i>
						  <p>点击上传，或将文件拖拽到此处</p>
						</div>
                  </div>
                </form>  
            </div>
        </div>
    </div>
    <script src="../assets/layui.all.js"></script>
    <script>
      var form = layui.form
        ,layer = layui.layer;
        
      layui.use('upload',function(){
      	var $ = layui.jquery
  		,upload = layui.upload;
  		
      	  //拖拽上传
		  upload.render({
		    elem: '#test10'
		    ,url: '/upload/'
		    ,done: function(res){
		      console.log(res)
		    }
		  });
      });
    </script>
</body>
</html>